<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common::head('Home')}"></head>
  <body>
  	  <div th:replace="~{common::header('Deer System')}"></div>
      <div class="content">
      	<div style="text-align: center;">
      		<br />
      		<h2>用户登录</h2>
      		<form action="/login" method="POST">
      			<table class="register-table">
      				<tr></tr>
      				<tr>
      					<td class="title-td">
      						<label for="">用户名：</label>
      					</td>
      					<td class="content-td">
      						<input type="text" name="username" id="username" placeholder="邮箱或者电话号码"/>
      					</td>
      				</tr>
      				<tr>
      					<td class="title-td">
      						<label for="">密码：</label>
      					</td>
      					<td class="content-td">
      						<input type="password" name="password" id="password" placeholder=""/>
      					</td>
      				</tr>
      				<tr></tr>
      				<tr>
      					<td style="text-align: center;" colspan="2">
      						<input type="submit" value="登  录" />
      					</td>
      				</tr>
      			</table>
      		</form>
      	</div>
      </div>
      <div th:replace="~{common::footer}"></div>
  </body>
</html> 