<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>登录</title>
  	<meta charset="UTF-8">
  	<script type="text/javascript" src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="/css/common.css" th:href="@{/css/bootstrap.css}">
	<script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="/css/common.css" th:href="@{/css/common.css}">
  </head>
  <body>
      <div class="container" style="width: 30%;">
      		<form class="form-signin" th:action="@{/login}" method="POST">
      			<h2 class="form-signin-heading pull-center">用户登录</h2>
      			<span th:if="${param.error}" class="text-primary" th:text="用户名或者密码错误，请重新输入"></span>
      			<span th:if="${param.logout}" class="text-primary" th:text="用户已经安全退出"></span>
      			<label for="username" class="sr-only">用户名</label>
      			<input type="text" class="form-control" name="username" id="username" placeholder="邮箱或者电话号码"/>
      			<br />
      			<label for="password" class="sr-only">密码</label>
      			<input type="password" class="form-control" name="password" id="password" placeholder=""/>
      			<br />
      			<input type="submit" class="btn btn-lg btn-primary btn-block" value="登  录" />
      		</form>
      </div>
  </body>
</html> 